:root {
  --accent-color-1: #3d9970;
  --color-1: #eee;
  --color-2: #ccc;
  --bg-color-1: #222;
  --bg-color-2: #111;
}
.light {
  --color-1: #222;
  --color-2: #111;
  --bg-color-1: #eee;
  --bg-color-2: #ddd;
}
.dark {
  --color-1: #eee;
  --color-2: #ddd;
  --bg-color-1: #222;
  --bg-color-2: #111;
}

html {
  height: 100%;
}
body {
  height: 100%;
  color: #eee;
  background-color: #222;
  color: var(--color-1);
  background-color: var(bg-color-1);
}

.ui-button {
  font-size: 1.2em;
  min-width: 20%;
  padding: 0 4px;
  height: 36px;
  line-height: 36px;
  border-radius: 6px;
  display: inline-block;
  user-select: none;
  border: 1px solid var(--accent-color-1);
  color: var(--accent-color-1);
  background-color: var(--bg-color-1);
  &:hover {
    cursor: pointer;
    color: var(--bg-color-1);
    background-color: var(--accent-color-1);
  }
}